ul {
	background-color: #F5F3FF;
	padding: 0;
}

li > ul {
	padding-left: 40px;
}

a {
	text-decoration: none;
}
a:hover {
	color: black;
}
a:link, a:visited {
	color: #111827;
}
a:active {
	color: red;
}
