li {
	list-style-position: inside;
	align-items: center;
}
li.reaf {
	list-style-image: url("../../assets/document-text-outline.svg");
}
li.branch {
	list-style-image: url("../../assets/folder-outline.svg")
}
li.fold > li, li.fold > ul {
	display: none;
}
li.expand {
	list-style-image: url("../../assets/folder-open-outline.svg")
}
li.expand > ul {
	display: block;
}
